# Maven build output
target/
*.log

# Eclipse project files
.classpath
.project
.settings/

# Eclipse workspace metadata
*.launch

# OS-specific files
.DS_Store
Thumbs.db

# JMeter plugin temp files
*.jtl
*.bak

# Reports
reports/
jmeter.log

# IntelliJ 
.idea/
*.iml

# VS Code 
.vscode/